<div>
    <div>
        <form>
            <label>Personajes</label>
            <select name="selectPersonaje" #selectPersonaje>
                <option *ngFor="let personaje of personajes" value="{{personaje.idPersonaje}}">{{personaje.nombre}}</option>
            </select><br/>
            <label>Series</label>
            <select name="selectSeries" #selectSeries>
                <option *ngFor="let serie of series" value="{{serie.idSerie}}">{{serie.nombre}}</option>
            </select><br/>
            <button (click)="modificarPersonaje()">Modificar</button>
        </form>
    </div>
</div>